#Cabecera{
  background-color: #536B78;
  width: 100%;
  height: 20%;
  padding: 10px 10px 10px 10px;
  text-align: center;
}


#Cuerpo {
  background-color: #CEE5F2;
  height: 80%;
  margin: 0px;
  padding:  20px 20px 20px ;

}
#PanelInfo{
  background-color: #CEE5F2;
  height: 80%;
  margin: 0px;
  padding:  20px 20px 20px ;

}
#PanelInfo h1 {
  text-align: center;
  font-size: 45px;
}
#PanelInfo p {
  text-align: center;
  font-size: 35px;
}


#Info-Jugador{
  background-color: #637081;
  padding: 15px 10px 15px 10px;
}

#Juego{
  background-color: #7c98b3;
}
#Gano1{
  background-color: #7c98b3;
  height: 80%;
  margin: 0px;
  padding:  20px 20px 20px ;
}
#Gano2{
  background-color: #7c98b3;
  height: 80%;
  margin: 0px;
  padding:  20px 20px 20px ;
}

.Image{
  width: 65px;
  height: 65px;
  border-radius: 50%;
}
.Image2{
  width: 65px;
  height: 65px;
  border-radius: 50%;
}

h1{
  margin: 0px 0px 0px 0px ;

}

button{
  background-color: #ACCBE1 !important;
}

.CentrarBoton{
  position: absolute;
  left: 50%;
  top:50%;
  transform: translate(-50%, -50% );

}
.Cuadrado{
  position: relative;
  width: 50px;
  height: 50px;
  background-color: #CEE5F2;
  border: 1px solid black;
}
.Cuadrado2{
  position: relative;
  width: 50px;
  height: 50px;
  background-color: #CEE5F2;
  border: 1px solid black;
}
.ColorIni_Fin{
  background-color: darkred;
  border: 1px solid black;
}
.Mapa{
  display: flex;
}
.Mapa2{
  display: flex;
}
div.dice{
  float:left;
  width:32px;
  background:#F5F5F5;
  border:#999 1px solid;
  padding:10px;
  font-size:24px;
  text-align:center;
  margin:5px;
}

.ficha {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25px;
  height: 25px;
  background-color: #000000;
}
.ficha2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25px;
  height: 25px;
  background-color: #000000;
}
